*{
    margin: 0;
    box-sizing: border-box;
}

#logo{
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 10px;
}

#title-footer{
    color: #868686;
}

.header-bg{
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    height: 180px;
    position: relative;
}

.title{
    font-size: 60px;
}

.link{
    text-decoration: none;
    color: #41b6e9;
}

.block-2{
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-img{
    height: 600px;
}

.block-1 h2{
    font-size: 20px;
    color: #868686;
}

.block-1 p{
    font-size: 20px;
    color: #868686;
}

.block-2 p{
    font-size: 20px;
}

.text-1{
    font-size: 20px;
    margin-bottom: 30px;
}

.highlighted{
    background-color: yellow;
}

.table{
    width: 100%;
    text-align: left;
    font-size: 20px;
    border-spacing: 0;
    margin-bottom: 30px;
}

.thead{
    color: white;
    background-color: #20a9e5;
}

.larghezza-1{
    width: 20%;
}

.larghezza-2{
    width: 40%;
}

.tbody{
    background-color: #b1e5f2;
    height: 50%;
}

.tbody-1{
    background-color: white;
    height: 50%;
}

.footer-img{
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.title-footer-1{
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    max-width: 300px;
}

main{
    margin-top: 20px;
    margin-left: 10px;
}

footer{
    margin-top: 20px;
    margin-left: 10px;
}